body {
  margin: 0;
  font-family: "Hi Melody", cursive;
  src: url("../src/fonts/HiMelody-Regular.ttf");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
